*{
    margin: 0;
    padding: auto;
    padding-right: 1;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
body{
    background-color:hsl(0, 0%, 8%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:  100vh; 
}
.container{
    background-color: hsl(0, 0%, 12%);
    max-width: 400px;
    border-radius:  10px; 
}
.container img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin-inline: auto;
    margin-bottom: 1.25rem;
}
.container h1 {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
}
.container h1 span {
    color: hsl(75, 94%, 57%);
    display: block;
    font-size: 1rem;
    margin: 0.5rem 0 1rem;
}
.container p{
    color: #fff;
    text-align: center;
}
.container ul{
    display: grid;
    max-width: 400px;
    width:100% ;
    gap: 0.5rem;
    margin-top: 2rem;
}
.container ul li button {
    width: 80%;
    padding: 1rem;
    font: size 1rem;
    font-weight: bold;
    background-color: hsl(0, 0%, 18%);
    border: none;
    border-radius: 0.5rem;
    outline: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
.container ul li button:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: #fff;
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}
